

body{
    background: #D1CACA;
    font-family: 'Poppins', sans-serif;
}

.intro-container{
    width: 100%;
    height: 104px;
    
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
}

#ft{
    width: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50% ;
    object-fit: cover;
}

.subintro{
    margin-left: 25%;

    position: absolute;
    

    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#subtitle{
    margin-top: -6%;
    font-size: 24px;
    line-height: 28px;
}

.datos{
    background-color: #38D6A6;
    width: 364px;
    height: 142px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    
}

#perfil{
    font-size: 13px;
}

#linkedin{
    font-size: 13px;
    color: #000;
    text-decoration:none;
}

#line{
    height: 1px;
    background: #38D6A6;
    order: 1px solid #6DC5C5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.17deg);
}

.box-1{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.subBox-1{
    display: flex;
    flex-direction: column;
    width: 45%;
}

#presentación{
    text-align: center;
    margin-right: 15%;
}

#subLine-1{
    width: 50%;
    border: 1px solid #000000;
    transform: rotate(-0.43deg);
    margin-top: -24px;
    margin-left: 19%;
}

.contorno{
    margin-top: 12px;
    margin-right: 32%;
    margin-left: 17%;
    background: rgba(160, 218, 187, 0.63);
    
    
}

#parrafo{
    margin-right: 12px;
    margin-left: 15px;
}

.divisor{
    display: flex;
    flex-direction: column;

}

#hLine-1{
    border: 1px solid #000000;
    transform: rotate(90deg);
    width: 310px;
    height: 0px;
    margin-top: 36%;
}

#esfera-1{
    width: 25px;
    height: 25px;
    background-color:#000;
    background: radial-gradient(at top left, #000 20%, #000);
    -ms-border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
    margin: 42px auto;
}

.subBox-2{
    display: flex;
    flex-direction: column;
    width: 45%;
}

#formación{
    text-align: center;
    margin-right: 18%;
}

#uni{
    margin-top: 0%;
    margin-right: 35%;
}

#ies{
    margin-top: 10%;
}

.progress-barr{
    width: 105px;
    height: 12px;

    background: #3881D6;
    border-radius: 4px;
    margin-top: 7%;
    margin-left: 17px;
}

#subLine-2{
    width: 100%;
    border: 1px solid #000000;
    transform: rotate(-0.43deg);
    margin-top: -24px;
    margin-left: 3%;
}

.progress-barr-1{
    width: 105px;
    height: 12px;

    background: #3881D6;
    border-radius: 4px;
    margin-top: 7%;
    margin-left: 33px;
}

.progress-barr-2{
    width: 145px;
    height: 12px;

    background: #3881D6;
    border-radius: 4px;
    margin-top: 7%;
    margin-left: 29px;
}

.progress-barr-3{
    width: 200px;
    height: 12px;

    background: #3881D6;
    border-radius: 4px;
    margin-top: 7%;
    margin-left: 33px;
}

.progress-barr-4{
    width: 170px;
    height: 12px;

    background: #3881D6;
    border-radius: 4px;
    margin-top: 7%;
    margin-left: 17px;
}

#tick{
    width : 16px;
    height: auto;
}

.contenedor-contorno{
    display: flex;
}

.contenedor-tick{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Aqui irá el responsive proximamente*/